<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="returnBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Términos y condiciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <p>
          <strong
            >T&eacute;rminos y Condiciones de aplicaci&oacute;n
            TarjetaMAAR</strong
          >
        </p>
        <p>
          <strong><em>&nbsp;</em></strong>
        </p>
        <p>
          Los presentes T&eacute;rminos y Condiciones de
          <strong>TarjetaMAAR</strong> (en adelante, &ldquo;TarjetaMAAR&rdquo;,
          &ldquo;la Plataforma&rdquo; o &ldquo;el Aplicativo&rdquo;) regulan las
          reglas a las que se sujeta el uso de la plataforma, as&iacute; como el
          tratamiento de la informaci&oacute;n personal y de salud recolectada.
          Al registrarse y hacer uso del Aplicativo, usted acepta en todos sus
          extremos todas las disposiciones contenidas en este documento. Por
          favor lea este documento detalladamente y aseg&uacute;rese de
          entenderlo en su totalidad antes de acceder al Aplicativo. Tenga en
          cuenta que, de no aceptar estos t&eacute;rminos, no podr&aacute; hacer
          uso de la plataforma TarjetaMAAR.
        </p>
        <p>
          El Usuario deber&iacute;a leer estas condiciones cada vez que utilice
          la APP, ya que podr&iacute;an ser modificadas en lo sucesivo.
        </p>
        <p>
          TarjetaMAAR es una aplicativo que puede ser descargado de manera
          voluntaria. Este Aplicativo provee de un sistema automatizado de
          seguimiento de estado de la salud de los colaboradores.
        </p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>USO DE LA PLATAFORMA</strong></p>
        <p><strong>Primera: Registro</strong></p>
        <ol>
          <li>Aceptaci&oacute;n de los T&eacute;rminos y Condiciones</li>
        </ol>
        <p>
          Usted no podr&aacute; usar el Aplicativo si a) no acepta los
          T&eacute;rminos; b) no es mayor de edad para suscribir un contrato
          vinculante con nosotros; o c) se encuentra impedido de hacer uso de la
          plataforma por mandato legal seg&uacute;n las leyes de la
          Rep&uacute;blica del Per&uacute;.
        </p>
        <ol>
          <li>Proceso de registro</li>
        </ol>
        <p>
          Para acceder al Aplicativo, es posible que deba proporcionar cierta
          informaci&oacute;n (como tipo y n&uacute;mero de documento de
          identidad, n&uacute;mero de celular, entre otros) como parte del
          proceso de registro para TarjetaMAAR, o como parte de su uso continuo
          en caso se implementen actualizaciones. Al momento de ingresar al
          Aplicativo, usted deber&aacute; ingresar su n&uacute;mero de celular.
        </p>
        <p>
          Cualquier informaci&oacute;n de registro que nos proporcione siempre
          ser&aacute; precisa y actualizada y nos informar&aacute; de inmediato
          de cualquier actualizaci&oacute;n.
        </p>
        <p><strong>Segunda: Contenido</strong></p>
        <p>
          Al hacer uso del Aplicativo, usted acepta estar sujeto a cualquier
          acuerdo con usuarios establecido por las terceras partes con las
          cuales interactuamos para proveerle de la informaci&oacute;n necesaria
          para el adecuado funcionamiento del Aplicativo. Al aceptar los
          T&eacute;rminos y Condiciones de las terceras partes, usted
          expresamente reconoce que TarjetaMAAR act&uacute;a como agente del
          tercero, quedando este &uacute;ltimo exento de responsabilidad por las
          acciones u omisiones de este tercero.
        </p>
        <p><strong>Tercera: Propiedad intelectual</strong></p>
        <p>
          TarjetaMAAR le concede al usuario una licencia revocable, no exclusiva
          y no transferible para utilizar su software, de acuerdo a los
          t&eacute;rminos correspondientes.
        </p>
        <p>
          Esta licencia incluye el software y todas las actualizaciones, nuevas
          versiones y software de reemplazo solo para su uso personal. El
          usuario no podr&aacute; rentar, alquilar o transferir de otra manera
          sus derechos en el software a un tercero.
        </p>
        <p>
          El usuario acepta no alterar, reproducir, adaptar, distribuir,
          mostrar, publicar, realizar ingenier&iacute;a inversa, traducir,
          desensamblar, descompilar o de otro modo intentar crear alg&uacute;n
          c&oacute;digo de origen que se derive del software.
        </p>
        <p><strong>Cuarta: Terminaci&oacute;n del Acuerdo</strong></p>
        <p>
          Usted puede dejar de usar el Aplicativo en cualquier momento con o sin
          previo aviso. De igual manera, nos reservamos el derecho de terminar
          los T&eacute;rminos con usted o descontinuar cualquier parte o
          caracter&iacute;stica o su acceso a la plataforma por cualquier motivo
          y en cualquier momento sin responsabilidad u otra obligaci&oacute;n
          para con usted.
        </p>
        <p><strong>Quinta: Responsabilidad por nuestro servicio</strong></p>
        <p>
          Excepto como se explica expresamente en los t&eacute;rminos, ni
          TarjetaMAAR ni nuestros proveedores o distribuidores hacen ninguna
          promesa espec&iacute;fica sobre los resultados del servicio. Por
          ejemplo, no hacemos ning&uacute;n compromiso sobre el contenido
          accedido a trav&eacute;s del Aplicativo, las funciones
          espec&iacute;ficas del servicio o su confiabilidad, disponibilidad o
          capacidad para cumplir con sus necesidades. Proveemos el servicio
          \"tal cual\". Excepto lo expresamente proporcionado en los
          t&eacute;rminos, en la medida permitida por la ley, nos encontramos
          exentos de cualquier tipo de garant&iacute;a, condiciones,
          representaciones y compromisos.
        </p>
        <p><strong>Sexta: Disposiciones generales</strong></p>
        <p>6.1 Eventos fuera de nuestro control:</p>
        <p>
          Si no pudi&eacute;semos ejecutar nuestras obligaciones establecidas
          bajo este documento debido a factores fuera de nuestro control,
          incluyendo cambios legislativos o eventos de fuerza mayor o caso
          fortuito, el usuario ser&aacute; notificado de dicho evento lo antes
          posible. En ese sentido, no tendremos ninguna responsabilidad asociada
          a la incapacidad para cumplir las obligaciones establecidas por este
          Acuerdo bajo las circunstancias antes mencionadas.
        </p>
        <p>6.2 Integridad del Acuerdo:</p>
        <p>
          Este, y cualquier documento al que se hace referencia a lo largo del
          mismo constituyen la totalidad del Acuerdo entre TarjetaMAAR y el
          usuario, y est&aacute; por encima de cualquier comunicaci&oacute;n
          previa, discusiones o entendimientos entre las partes.
        </p>
        <p>6.3 Comunicaciones:</p>
        <p>
          En caso se requiera de proveerle de cierta informaci&oacute;n por
          escrito, el acto de aceptaci&oacute;n de los t&eacute;rminos de este
          Acuerdo, implica la aceptaci&oacute;n de que TarjetaMAAR pueda
          comunicarse con usted v&iacute;a, SMS o a trav&eacute;s de la
          publicaci&oacute;n de avisos en el Aplicativo.
        </p>
        <p>6.4 Ley y Jurisdicci&oacute;n:</p>
        <p>
          La provisi&oacute;n del servicio y la resoluci&oacute;n de cualquier
          reclamo, disputa o controversia que pueda surgir como consecuencia del
          mismo en los t&eacute;rminos que se se&ntilde;alan en el Acuerdo se
          regir&aacute;n por la ley peruana.
        </p>
        <p>6.5 Modificaciones a los T&eacute;rminos y Condiciones:</p>
        <p>
          Los T&eacute;rminos y Condiciones de uso podr&aacute;n ser modificados
          de forma unilateral, a nuestro exclusivo criterio y/o cuando la Ley lo
          requiera, para lo cual se enviar&aacute; un aviso del cambio
          realizado.
        </p>
        <p>
          Al continuar utilizando los servicios luego de dicho cambio, usted
          acepta de forma t&aacute;cita acatar los nuevos T&eacute;rminos y
          Condiciones modificados a partir de la fecha de entrada en vigor de
          los mencionados cambios.
        </p>
        <p><strong>PROTECCI&Oacute;N DE DATOS PERSONALES</strong></p>
        <p>
          TarjetaMAAR se compromete a proteger su privacidad, por eso
          almacenamos sus datos de forma encriptada en nuestros servidores.
        </p>
        <p>
          Por favor lea detalladamente esta secci&oacute;n a fin de conocer la
          informaci&oacute;n que recolectamos de usted, c&oacute;mo usamos esa
          informaci&oacute;n y las circunstancias bajo las cuales
          podr&iacute;amos compartirla con terceras partes.
        </p>
        <p>
          Sus datos ser&aacute;n empleados &uacute;nicamente para fines de
          trazabilidad y prevenci&oacute;n de contagio del virus COVID-19.
        </p>
        <p>
          Al registrarse y hacer uso del Aplicativo usted acepta y consiente las
          pr&aacute;cticas descritas a continuaci&oacute;n.
        </p>
        <p><strong>Recolecci&oacute;n de informaci&oacute;n:</strong></p>
        <ol>
          <li>
            a) Los datos que recabamos de usted son, pero no se limitan a:
          </li>
        </ol>
        <ul>
          <li>N&uacute;mero de celular</li>
          <li>Tipo y n&uacute;mero de documento de identidad</li>
          <li>Nacionalidad</li>
          <li>Antecedentes de salud y condici&oacute;n m&eacute;dica.</li>
          <li>Geolocalizaci&oacute;n</li>
        </ul>
        <ol>
          <li>b) Informaci&oacute;n que recibimos sobre usted:</li>
        </ol>
        <p>
          Nosotros tambi&eacute;n podr&iacute;amos recibir informaci&oacute;n
          que sea considerada p&uacute;blica, incluyendo informaci&oacute;n que
          haya pasado por un proceso de anonimizaci&oacute;n y que por ende no
          puede ser utilizada para identificar a una persona.
        </p>
        <p><strong>Uso de los datos recolectados:</strong></p>
        <p>
          TarjetaMAAR utilizar&aacute; la informaci&oacute;n brindada por usted,
          y aquella que recabe de fuentes p&uacute;blicas para las siguientes
          finalidades:
        </p>
        <ol>
          <li>
            a) Prevenir la expansi&oacute;n acelerada del virus alertando a la
            poblaci&oacute;n de coincidencias con personas confirmadas con
            COVID-19;
          </li>
          <li>
            b) Generar medidas de control eficientes por parte de las entidades
            autorizadas de personas confirmadas con COVID-19.
          </li>
          <li>
            c) Para brindarle informaci&oacute;n de acuerdo a nuestros
            T&eacute;rminos y Condiciones.
          </li>
          <li>
            d) Para su estudio y an&aacute;lisis con fines estad&iacute;sticos.
          </li>
          <li>
            e) Compartir la informaci&oacute;n con las entidades competentes,
            exclusivamente para fines de prevenci&oacute;n y tratamiento del
            COVID-19.
          </li>
        </ol>
        <p><strong>Acceso a su ubicaci&oacute;n:</strong></p>
        <p>
          TarjetaMAAR podr&aacute;, una vez activados su Bluetooth y GPS,
          conocer su ubicaci&oacute;n en tiempo real.
        </p>
        <p>
          <strong
            >Revocaci&oacute;n del consentimiento para el tratamiento de
            datos</strong
          >
        </p>
        <p>
          Si bien la pandemia del COVID-19 es una emergencia sanitaria nacional,
          TarjetaMAAR se compromete a salvaguardar tu privacidad, anonimizando
          los datos ingresados, as&iacute; como asegur&aacute;ndonos de que
          usted tenga el control sobre los datos proporcionados.
        </p>
        <p>
          Usted puede revocar el consentimiento otorgado para el almacenamiento
          y tratamiento de datos en cualquier momento.
        </p>
        <p>
          Para ello deber&aacute; enviar un correo electr&oacute;nico a la
          direcci&oacute;n &hellip;&hellip;.., se&ntilde;alando ello, indicando
          su n&uacute;mero de celular tal cual se encuentra registrado en el
          Aplicativo.
        </p>
        <p>
          Una vez recibida dicha instrucci&oacute;n, procederemos a eliminar su
          n&uacute;mero de celular y usuario de nuestros servidores.
        </p>
        <p>
          <strong
            >Desactivaci&oacute;n de la funcionalidad de TarjetaMAAR</strong
          >
        </p>
        <p>
          Usted puede deshabilitar la funcionalidad de TarjetaMAAR en cualquier
          momento desactivando los permisos de Bluetooth y/o GPS de la
          aplicaci&oacute;n o elimin&aacute;ndola. Si se requiere el seguimiento
          de contactos para un brote futuro, se le solicitar&aacute; que
          habilite los permisos o puede reinstalar la aplicaci&oacute;n.
        </p>
        <p>
          Usted reconoce y entiende que el deshabilitar los accesos de Bluetooth
          y/o GPS puede afectar negativamente la utilidad de este Aplicativo.
        </p>
        <p>
          <strong
            >D&oacute;nde almacenamos su informaci&oacute;n personal:</strong
          >
        </p>
        <p>
          La informaci&oacute;n recolectada podr&iacute;a ser transferida y
          almacenada en un destino dentro o fuera del Per&uacute;. Esta
          podr&iacute;a ser tambi&eacute;n procesada por servidores operando
          fuera del Pa&iacute;s. Al enviar su informaci&oacute;n personal usted
          reconoce que se encuentra de acuerdo con esta transferencia,
          almacenamiento y/o procesamiento. El encargado de tratamiento de los
          datos tomar&aacute; todas las medidas necesarias para asegurar que su
          informaci&oacute;n sea tratada de forma segura y de acuerdo con las
          medidas que se establecen en este Acuerdo.
        </p>
        <p>
          Toda la informaci&oacute;n que usted proporcione o que recibamos de
          usted se almacena en nuestros servidores seguros.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
