<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Cambio de clave</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="changePassword($event)">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Clave actual</ion-label>
            <ion-input
              type="password"
              [(ngModel)]="userData.old_password"
              name="old_password"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Nueva clave</ion-label>
            <ion-input
              type="password"
              [(ngModel)]="userData.password"
              name="password"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Repetir clave</ion-label>
            <ion-input
              type="password"
              [(ngModel)]="userData.password_confirmation"
              name="password_confirmation"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-button
            type="submit"
            [disabled]="userData.old_password == '' || 
                      userData.password == '' || 
                      userData.password_confirmation == '' ||
                      !internet"
            >Cambiar</ion-button
          >
        </ion-col>
        <ion-col
          size="12"
          class="ion-justify-content-center d-flex"
          *ngIf="!internet"
        >
          <small color="danger" class="danger"
            >Debe tener internet para realizar esta acción</small
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
