<ion-header>
  <ion-toolbar class="toolbar-tall">
    <ion-buttons slot="start">
      <ion-back-button class="back-btn-lg" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-lg">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="log-out"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-button (click)="logout()">Cerrar sesión</ion-button>
    </ion-fab-list>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="icon_user">
          <ion-icon src="/assets/imgs/user.svg"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="title">
          <span>{{ us.user.name }}</span>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="title">
          <span>{{ us.user.email }}</span>
        </div>
      </ion-col>
      <ion-col size="12" class="super_margin">
        <ion-button
          color="dark"
          expand="full"
          [routerLink]="['/change-password']"
          routerDirection="forward"
          shape="round"
        >
          Cambiar contraseña
        </ion-button>
      </ion-col>

      <ion-col size="12" class="super_margin">
        <ion-button
          color="danger"
          expand="full"
          shape="round"
          (click)="openDeleteModal()"
        >
          Eliminar cuenta
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Modal tipo "cuadro pequeño" -->
  <ion-modal
    [isOpen]="isDeleteModalOpen"
    [backdropDismiss]="false"
    (didDismiss)="onDeleteModalDismiss()"
    cssClass="delete-account-modal"
  >
    <ng-template>
      <div class="delete-modal-card">
        <h2 class="delete-modal-title">Eliminar cuenta</h2>

        <p class="delete-modal-text">
          ¿Estás seguro en querer eliminar tu cuenta?
        </p>

        <div class="delete-modal-actions">
          <ion-button
            color="danger"
            size="small"
            [disabled]="deleteButtonDisabled"
            (click)="confirmDeleteAccount()"
          >
            Sí, eliminar
            <span *ngIf="deleteButtonDisabled">
              &nbsp;({{ deleteCountdown }})
            </span>
          </ion-button>

          <ion-button
            fill="outline"
            size="small"
            (click)="closeDeleteModal()"
          >
            Cancelar
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>