<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="information">
    <ion-img src="assets/imgs/logo_2.svg"></ion-img>
    <div class="text">
      <span
        >Hay una nueva versión disponible. Actualiza la aplicación para garantizar su correcto funcionamiento</span
      >
    </div>

    <ion-button (click)="goStore()" class="gradient"> Actualizar </ion-button>
  </div>
</ion-content>
