<ion-header>
  <ion-toolbar class="toolbar-tall">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-lg">Tarjeta MAAR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fab-fix" slot="fixed">
    <ion-fab-button (click)="createReport()">
      <ion-label>Crear tarjeta</ion-label>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </div>
  <ion-item lines="none" class="enterprise_item">
    <ion-label class="ion-text-wrap">{{enterprise?.name}}</ion-label>
  </ion-item>
  <ion-item lines="none" class="project_item">
    <ion-label class="ion-text-wrap">{{project?.name}}</ion-label>
  </ion-item>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item lines="none">
    <ion-label position="stacked" class="FiltrosLabels">Desde</ion-label>
    <ion-datetime-button
      class="transparent-fullwidth-datetime-button"
      datetime="desde"
    ></ion-datetime-button>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="stacked" class="FiltrosLabels">Hasta</ion-label>
    <ion-datetime-button
      class="transparent-fullwidth-datetime-button"
      datetime="hasta"
    ></ion-datetime-button>
  </ion-item>

  <div class="ion-padding-horizontal ion-padding-top">
    <ion-button expand="block" (click)="applyDateFilters()">
      <ion-icon slot="start" name="search-outline"></ion-icon>
      Buscar
    </ion-button>
  </div>
  <ion-modal [keepContentsMounted]="true" #desdeDateModal>
    <ng-template>
      <ion-datetime
        id="desde"
        presentation="date"
        [(ngModel)]="fechaInicio"
        (ionChange)="onDateSelectedAndClose('desde')"
        placeholder="Selecciona fecha de inicio"
      >
      </ion-datetime>
    </ng-template>
  </ion-modal>

  <ion-modal [keepContentsMounted]="true" #hastaDateModal>
    <ng-template>
      <ion-datetime
        id="hasta"
        presentation="date"
        [(ngModel)]="fechaFin"
        (ionChange)="onDateSelectedAndClose('hasta')"
        placeholder="Selecciona fecha final"
      >
      </ion-datetime>
    </ng-template>
  </ion-modal>

  <ion-list lines="none" class="list_records">
    <ion-item-sliding *ngFor="let item of reports;let i = index;">
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="deleteRecord(item,i)"
          >Eliminar</ion-item-option
        >
      </ion-item-options>

      <ion-item lines="none" (click)="goDetail(item.id)">
        <div [class]="'project_list ' + item.type" *ngIf="!item.created_at">
          <div class="title">
            <span>{{ "Area"+item.project.name }}</span>
            <span>{{ item.date_info }}</span>
          </div>
          <div class="fullname">
            <span>{{ item.worker_fullname }}</span>
          </div>
          <div class="type">
            <span>{{ item.type }}</span>
          </div>
        </div>
        <div [class]="'project_list ' + item.type" *ngIf="item.created_at">
          <div class="title">
            <span>{{ "Area: "+ (
      (!item?.area || item?.area === 'null') 
        ? 'No se indica' 
        : item.area
    )  }}</span>
            <span>{{ item.completed | date: "dd/MM/yyyy hh:mm a" }}</span>
          </div>
          <div class="fullname">
            <span>{{ item.worker_fullname }}</span>
          </div>
          <div class="type">
            <span>{{ item.type }}</span>
          </div>
          <div class="exclamation">
            <ion-icon name="eye"></ion-icon>
          </div>
        </div>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
