.checkterm
{
  font-size: 1rem !important;
}

.checkterm .terms-link{
    color : #64b5f6 !important;
}

ion-label {
  font-size: 1.2rem !important;
}
ion-content {
    --background: none;
    // background: rgb(8,25,41);
    // background-image: url('/assets/imgs/login_bg.jpg');
    background: linear-gradient(to bottom, rgba(0, 65, 145, 0.65) 0%, rgba(0, 30, 98, 0.85) 100%), url('/assets/imgs/login_bg.jpg');
    // background: linear-gradient(to bottom, rgba(33, 59, 114, 0.65) 0%, rgba(20, 35, 96, 0.85) 100%), url('/assets/imgs/login_bg.jpg');
    background-size: cover;
    background-position: center;
    & .container {
        padding-left: 2%;
        padding-right: 4%;
        display: flex!important;
        justify-content: center!important;
        align-items: center;
        flex-direction: column;
        min-height: 100%;
        height: auto;
        & .header {
            margin-bottom: 4rem;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            height: 125px;
            margin-top: 1rem;
            & img {
                height: 100%;
            }
        }
        & form {
            & ion-list {
                --background: none;
                background-color: transparent;
                & ion-item {
                    --background: none;
                    background-color: transparent;
                    margin-bottom: 1rem;
                    --border-color: rgba(0,179,152,1);
                    border-color: rgba(0,179,152,1);
                    &.button-container {
                      text-align: center;
                      width: 100%;
                  }
                    & ion-label {
                        // color: #FFF;
                        margin-bottom: 0.5rem;
                    }
                    & ion-input {
                        // color: #FFF;
                    }
                    ion-button {
                      width: 100%;
                      align-items: center!important;
                    }
                    small {
                        // color: #FFF;
                        display: block;
                        text-align: center;
                        text-decoration: underline;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}


