<ion-header>
  <ion-toolbar class="toolbar-tall">
    <ion-buttons slot="start">
      <ion-img class="brand" src="assets/imgs/logo.png" alt="logo"></ion-img>
    </ion-buttons>

    <ion-title class="app-version">v {{ appVersion }}</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" class="logout" (click)="logout()">
        <span>Salir</span>
        <ion-icon name="log-out-outline" class="ml-4"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card class="welcome-card">
    <ion-item lines="none" class="welcome-row">
      <ion-label class="welcome-title">
        Bienvenido, {{ us.user?.fullname || us.user?.name || 'Usuario' }}
      </ion-label>
      <ion-button
        [routerLink]="['/profile']"
        routerDirection="forward"
        class="btn-profile"
        fill="clear"
      >
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
  
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div class="card">
          <img src="assets/imgs/maar.png" (click)="goTarjetaMain()" />
          <ion-label>Tarjeta MAAR</ion-label>
        </div>
      </ion-col>
      <!-- 🆕 Nueva card de Notificaciones -->
      <ion-col size="6">
        <div class="card">
          <img src="assets/imgs/ficha.png" (click)="goNotification()" />
          <ion-label>Notificaciones</ion-label>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="card">
          <img src="assets/imgs/docs.png" (click)="goDocuments()" />
          <ion-label>Archivos</ion-label>
        </div>
      </ion-col>
      <!-- <ion-col size="6">
            <div>
                <img  src="assets/imgs/docs.png" (click)="goDocumentMain()">
                <ion-label>Documentos Médicos</ion-label>
            </div>
        </ion-col> -->
      <!--           <ion-col size="6" >
              <div>
                  <img  src="assets/imgs/pase.png" (click)="coronaCard()">
                  <ion-label>Pase Laboral</ion-label>
              </div>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="6">
              <div>
                  <img  src="assets/imgs/temp.png" (click)="goTemperatureCard()">
                  <ion-label>Registro de Temperatura</ion-label>
              </div>
          </ion-col> -->
      <!--           <ion-col size="6"  >
              <div>
                  <img  src="assets/imgs/ficha.png" (click)="goFichaMain()">
                  <ion-label>Triaje Diario COVID-19</ion-label>
              </div>
          </ion-col> -->
    </ion-row>
    <ion-row>
      <!--           <ion-col size="6">
              <div>
                  <img  src="assets/imgs/docs.png" (click)="goDocumentMain()">
                  <ion-label>Documentos Médicos</ion-label>
              </div>
          </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>
